@model IEnumerable<EmployeeTimeTool.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Find Employee</h1>

<p>
    <a asp-action="Details" class="btn">Find Employee</a>
    <a asp-action="Create" class="btn">Create New Employee</a>
</p>
<form>
    <div>
        <label></label>
    </div>
</form>
